<% provide(:title, @product.name) %>
<div class="main-wrapper">
  <%= render "shared/product_header", title: @product.name %>
  <section class="mainContent clearfix">
    <div class="container">
      <div class="row singleProduct">
        <div class="col-xs-12">
          <div class="media">
            <div class="media-left productSlider">
              <div id="carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <% @product.master.images.each_with_index do |image, index| %>
                    <div class="<%= index.zero? ? "item active" : "item" %>">
                      <%= image_tag(image.attachment(:large)) %>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="clearfix">
                <div id="thumbcarousel" class="carousel slide" data-interval="false">
                  <div class="carousel-inner">
                    <% @product.master.images.each_with_index do |image, index| %>
                      <div class="thumb" data-target="#carousel" data-slide-to="<%= index %>">
                        <%= image_tag(image.attachment(:small)) %>
                      </div>
                    <% end %>
                  </div>
                  <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                </div>
              </div>
            </div>
            <div class="media-body">
              <ul class="list-inline">
                <li>
                  <% if @product.taxons.present? %>
                    <%= link_to potepan_category_path(@product.taxons.first.id) do %>
                      <i class="fa fa-reply" aria-hidden="true"></i>
                      一覧ページへ戻る
                    <% end %>
                  <% else %>
                    <%= link_to potepan_products_path do %>
                      <i class="fa fa-reply" aria-hidden="true"></i>
                      一覧ページへ戻る
                    <% end %>
                  <% end %>
                </li>
              </ul>
              <h2 id="product-name-show"><%= @product.name %></h2>
              <h3 id="product-price-show"><%= @product.display_price %></h3>
              <p id="product-description-show"><%= @product.description %></p>
              <span class="quick-drop">
                <select name="guiest_id3" id="guiest_id3" class="select-drop">
                  <option value="0">S</option>
                  <option value="1">M</option>
                  <option value="2">L</option>
                  <option value="3">XL</option>
                </select>
              </span>
              <span class="quick-drop resizeWidth">
                <select name="guiest_id4" id="guiest_id4" class="select-drop">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </span>
              <div class="btn-area">
                <a href="cart_page.html" class="btn btn-primary btn-block">カートへ入れる<i class="fa fa-angle-right" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row productsContent">
        <div class="col-xs-12">
          <div class="page-header">
            <h4>関連商品</h4>
          </div>
        </div>
        <% if @product.taxons.present? %>
          <div class="related-items-box">
            <% @related_products.each do |product| %>
              <%= link_to potepan_product_path(product.id), class: "#{product.name}-related" do %>
                <div class="col-md-3 col-sm-6 col-xs-12 related-item">
                  <div class="productBox">
                    <div class="productImage clearfix">
                      <%= image_tag(product.master.images.first.attachment(:product), alt: "#{product.name}") if product.master.images.first.present? %>
                    </div>
                    <div class="productCaption clearfix">
                      <h5><%= product.name %></h5>
                      <h3><%= product.display_price %></h3>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</div>
<%= render "shared/modal_login" %>
<%= render "shared/modal_sign_up" %>
